*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/Images/gym_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: whitesmoke;
    width: 175px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #11ffe3;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.center{
    text-align: center;
}
.responsive{
    max-width: 100%;
    height: auto;
}
.muscle_bg:hover{
    background-color: red;
}
.content{
    width: 100%;
    position: absolute;
    text-align: center;
    color: whitesmoke;
}
.navbar h1{
    color: whitesmoke;
    font-size: 40px;
}
.exercises{
    color:whitesmoke;
    width: 100%;
    position: absolute;
    text-align: center;
}
.exercises ol {
    text-align: left;
    padding-left: 30%;
    padding-top: 20px;
}





.gif_container{
    display: flex;
    justify-content: center;
    align-items: center;
}