h1{
    color: red;
    font-size: 40px;
}
.center{
    text-align: center;
}
.muscles{
    background-color: none;
}
.muscles:hover{
    background-color: red;
}
.responsive{
    max-width: 100%;
    height: auto;
}